.container-body {
  /* background-image: url("https://img.freepik.com/free-vector/network-connection-background_23-2148879892.jpg?t=st=1745385933~exp=1745389533~hmac=1d24c1c555c121bb377277606c3d779adeb755dbf8ec34a318111ec347f95d32&w=2000"); */
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.font-styles {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(50, 48, 48, 0.291);
  margin: 20px;
  box-shadow: rgba(40, 106, 205, 0.2) 0px 2px 8px 0px;
}

.font-styles:hover {
  background-image: linear-gradient(to right, #00c6ff, #035bff, #8400ff);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 8px 0px;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-styles {
  background-image: url("https://img.freepik.com/free-vector/abstract-background-with-hexagons_23-2148995949.jpg?t=st=1745858053~exp=1745861653~hmac=17d647a4b6fecbbd01e69d9d6220a9c9089ffd8000e3c6aa386059df48427e2f&w=2000");
  height: 30vh;
  background-size: cover;
  position: relative;
  top: 0;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 40vw;
}
a {
  color: rgb(98, 104, 119);
  margin: 10px;
  font-family: sans-serif;
  font-size: 22px;
}
li {
  list-style: none;
}

.icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

/* ---------------------------------------home */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.308);
}

.logo-style {
  color: rgb(2, 86, 204);
}

.header-style {
  background: linear-gradient(to right, #0494bc, #035bff, #ff00c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  width: 50%;
  font-weight: bold;
}
.header-style:hover {
  background: linear-gradient(to right, #ff6600, #c803ff, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2em;
  font-weight: bold;

  transition: all 1s ease-in-out;
}
.heading-intro {
  color: rgb(60, 60, 60);
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.heading-intro:hover {
  background: linear-gradient(to right, #2a5efc, #03afff, #9d00ff);
  margin-right: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s linear;
  font-size: 3.2em;
}
.intro-text {
  color: rgb(117, 117, 117);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
  border-right: #6cae0f8a solid 3px;
}

.intro-text:hover {
  color: rgb(44, 43, 43);
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
  border-right: #ae340f solid 3px;
  transition: all 0.5s linear;
  transform: scale(1);
}
.home-text {
  color: rgb(44, 43, 43);
  font-size: 10px;
  border-left: solid 3px #1663cf;
  width: 50%;
  position: relative;
  left: 20px;
  padding-left: 20px;
}

#skills {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 10px;
}

.skills-container:hover {
  transition: all 1s ease-in-out;
}

.skills-text {
  color: rgb(44, 43, 43);
  font-size: 18px;
  border-left: solid 3px #f75e11;
  padding-left: 20px;
}

.skills-icons {
  font-size: 25px;
  border-left: solid 3px #747271;
  padding: 10px;
  margin: 10px;
  text-align: start;
  transition: all 1s linear;
}
.icons-anim {
  animation: identifier 5s linear infinite;
  font-size: 50px;
}
@keyframes identifier {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

.skills-icons:hover {
  font-size: 60px;
  border-left: solid 3px #f711cd7d;
  padding: 10px;

  margin-left: 60px;
  transition: all 1s linear;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(to right, #00c8ff5d, #035bff38, #8400ff42);
}

.skills-text:hover {
  background: linear-gradient(to right, #fc432a, #03afff, #9d00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s linear;
}

.html-text {
  color: rgb(44, 43, 43);
  font-size: 18px;
  left: 10px;
  padding-left: 20px;
}
.html-text:hover {
  color: rgb(247, 97, 4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s linear;
}

.skills-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 60vw;
  margin-left: 20px;
}

.skills-icons-container:hover {
  transition: all 1s ease-in-out;
  width: 80vw;
}

/* ----------------------------------------Qualifications */

.qualifications-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: rotate 15s linear infinite;
  transition: all 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#qualifications {
  height: 50vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 30px;
}

.qualifications-container {
  position: absolute;
  left: 20px;
  width: 18%;
  height: 30%;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.qualifications-container:hover {
  animation: cardflip 1s linear 1;
  transform: rotatey(180deg);
}

.front {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background: white;

  /* line-height: 300px; */
}

.front,
.tile_container-back {
  position: absolute;
  height: 80%;
  width: 100%;
  background: white;
  /* line-height: 300px;
  list-style: solid 3px #f75e11; */
  color: #03446a;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.tile_container-back {
  position: absolute;
  top: 20px;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  background: #03446a;
  color: rgb(183, 219, 241);
  transform: rotateY(180deg);
  font-family: poppins;
}
@keyframes cardflip {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(180deg);
  }
}

@media (min-width: 600px) {
  .hover-links {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-styles {
    background-image: linear-gradient(to right, #000000, #373737);
    height: 15vh;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
  }

  .header-logo {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .hover-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  a {
    color: rgb(162, 162, 162);
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
  }
  a:hover {
    background-color: rgba(52, 51, 51, 0.384);
    color: rgb(224, 218, 218);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }

  li {
    list-style: none;
  }

  .icons-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    margin-top: 20px;
  }

  .icon-styles {
    font-size: 25px;
    margin: 20px;
    color: rgb(4, 4, 4);
    background-color: rgba(0, 0, 0, 0.945);
  }
  .font-styles:hover {
    color: rgb(49, 85, 164);
    background-color: rgba(0, 0, 0, 0.955);
  }

  .dropdown-selectors {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(197, 197, 197);
    font-size: 20px;
    outline-width: 0;
  }

  .option-links {
    background-color: #434343;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .font-styles {
    height: 30px;
    width: 30px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(50, 48, 48, 0.291);
    margin: 10px;
    box-shadow: rgba(40, 106, 205, 0.2) 0px 2px 8px 0px;
  }
}
